body {
          cursor: none;
          margin: 0;
          font-family: Times, 'Times New Roman', serif, sans-serif;
background-color: black;
          height: 300vh;
}


/* ......................header part......................... */



.header {
          /* background: linear-gradient(to right, #002D33, rgb(0, 86, 86), #002D33); */
          background: linear-gradient(to right, black,#002D33, black);
          color: white;
          padding: 8px 25px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          position: sticky;
          top: 0;
          z-index: 100;

}

.logo {
          font-size: 2.5rem;
          font-weight: 700;
}

.logopart{
          font-size: 2.5rem;
          color: rgb(160, 253, 253);
          font-family: "Times New Roman", Times, serif;
          text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 30px cyan, 0 0 40px cyan;
}

.navigation a {
          color: white;
          text-decoration: none;
          margin:auto;
          font-weight: 500;
          font-size: 0.9rem;
                    font-family: Arial, Helvetica, sans-serif;
                    
}



.glowingbutton{
          text-align: center;
          padding: 4px 23px;
          background-color:transparent;
border:transparent;
          margin-right: 0px;
          margin-left: 0px;
          cursor: none;
}






a {
          cursor: none;
} 
 
/* .first{

border-right: 1px solid white;
          
}
.second{
border-right: 1px solid white;
} */

.first{
          transition: border 0.3s ease;

}






.first:hover {
                
                              border-bottom: 1px solid white;
                    transition: width 0.3s ease;
          border-right: none;


          background-color: rgb(0, 255, 255, 0.1);
}
.second:hover {
          border-right: none;
          border-bottom: 1px solid white;

          background-color: rgb(0, 255, 255, 0.1);

}
.third:hover {
                    border-right: none;
          border-bottom: 1px solid white;
          background-color: rgb(0, 255, 255,0.1);

}


/* .........................................cursor code................................. */

body {
          cursor: none;
          background-color: black;
}

.custom-cursor {
          width: 16px;
          height: 16px;
          background-color: rgb(0,0,0,0.2);
         

           border: 3px solid rgb(255, 1, 166); 
           box-shadow: 0 0 6px rgb(255, 1, 166), 0 0 8px cyan,0 0 11px cyan; 
          border-radius: 50%;
          position: absolute;
          pointer-events: none;
          transform: translate(-50%, -50%);
          transition: all 0.01s;
          cursor: none;
          z-index: 200;
}

.glow {
          box-shadow: 0 0 10px white, 0 0 15px white, 0 0 20px white;

          width: 8px;
          height: 8px;
          border: 1px solid white;
}











/* /................................main content1.......................................................... */



.content1{
 padding-top: 3%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    z-index: 5;
                    margin-left: 120px;
                    margin-right: 120px;
                    margin-top: 50px;

}
.title{

          margin-top: 90px;
          text-align: justify;
          line-height: 20px;
          letter-spacing: 7px;
          font-size: 20px;
          color: rgb(255, 0, 149);

          transform:translateY(-100px);
          font-family: 'Orbitron', sans-serif;
          word-spacing: 8px;

          background-image: linear-gradient(to right,cyan,white, rgb(255,0,149));
                    color: transparent;

                    background-clip: text;

                    -webkit-background-clip: text;
                    font-weight:800;
margin-right: 0px;


}
.titlepart{
          text-align: justify;
          color: cyan;

          font-family: 'Orbitron', sans-serif;
          background-image: linear-gradient(to right, cyan, white, rgb(255, 0, 149));
                    color: transparent;
          
                    background-clip: text;
          
                    -webkit-background-clip: text;
                    font-weight:800;
}

.titlecontent{
          text-align: justify;
          font-size: 15px;
          color: white;
          font-weight: 300;
          word-spacing: 3px;
          letter-spacing: 2px;
          border-bottom: 1px solid white;
          padding-bottom: 35px;
          margin-top: 40px;
          line-height: 2;
          width: 70%;

}

.linkcontent{
          background: rgba(255, 122, 200, 0.1);
          margin-top: 50px;
          color: white;
          font-size: 15px;
          border-radius: 30px;
padding: 30px 5px;  
width: 70%; 
display: flex;
/* flex-direction: column; */
justify-content: space-evenly;
padding:10px 20px;




}
.imagetitle {
align-self: flex-start;
margin-left: 0px;
transform: translateX(-50px);
          border: 2px solid rgb(255, 0, 149);
          box-shadow: 0 0 5px rgb(255, 0, 149), 0 0 10px rgb(255, 0, 149), 0 0 20px rgb(255, 0, 149), 0 0 30px rgb(255, 0, 149)
}

 li a{
          text-decoration: none;
          color: white;
          letter-spacing: 2px;
          word-spacing: 4px;
          font-size: 12px;
}

#linkfirstchild{
          font-size: 15px;
                    color: cyan;
}



/* /................................main content2.......................................................... */

.content2{
          width: 100vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
align-items: center;
          margin-top: 110px;
}

.content21{
          background-color: transparent;
          padding: 10px;
          font-family: 'Orbitron', sans-serif;
text-align: center;
color: white;
font: 35px;
letter-spacing: 2px;
word-spacing: 4px;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;


}




.content21 h2 {
          overflow: hidden;
          border-right: .15em solid orange;

          white-space: nowrap;
          margin: 0 auto;
          letter-spacing: .15em;

          animation: typing 4s steps(30, end) infinite, blink-caret .5s step-end infinite;
}

@keyframes typing {
          from {
                    width: 0
          }

          to {
                    width: 100%
          }
}

@keyframes blink-caret {

          from,
          to {
                    border-color: transparent
          }

          50% {
                    border-color: cyan;
          }
}


.content22{
          width: 100%;
          display: flex;
          justify-content: space-evenly;
}

.content22 h1{
          color: white;
          font-size: 35px;
}


/* ...............content3................................................... */


.content3{
          font-family: 'Orbitron', sans-serif;
          margin-top: 110px;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 80px;
          
}

.content31{
width:100%;
display: flex;
justify-content: space-evenly;
align-items: center;
color: white;
gap: 30px;
}

.content31-2{
          color: cyan;
          text-align: left;
          word-spacing: 3px;
          letter-spacing: 2px;
          width: 50%;
          border-right: 2px solid rgb(255,0,149);
          padding-right: 20px;
          padding-left: 20px;
          font-size: 15px;
}

.content31-3{
          text-align: justify;
          font-size: 13px;
          line-height: 2;
}



.content32{
width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          color: white;
          gap: 30px;
}
.content32-2{
          color: cyan;
          text-align: left;
          word-spacing:3px;
          width: 50%;
                    letter-spacing: 2px;
                              border-right: 2px solid rgb(255, 0, 149);
                              padding-right: 15px;
                              padding-left: 20px;
                              font-size: 15px;
}

.content32-3{
          text-align: justify;
          font-size: 13px;
          line-height: 2;
}

.extrabutton{
          margin-top: 20px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

}

.extrabutton button{
          padding: 6px 20px;
          color: white;
          border: 1px solid rgb(255,0,149);
          box-shadow: 0 0 5px rgb(255,0,149);
          background-color: transparent;
}

.extra a{
          color: white;
          text-decoration: none;
          font-weight: 700;
          font-size: 15px;
}


/* ......................................content4................................. */



.content4{
          font-family: Arial, Helvetica, sans-serif;
          color: white;
          font-size: 16px;
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          margin-left: 30px;
          margin-right: 30px;
          align-items: center;
          margin-top: 80px;
          gap: 20px;
}

.content41{
width: 20%;
height: 250px;
line-height: 2;
text-align: left;
border: 1px solid rgb(255,0,149);
background-color: transparent;
padding:15px;
color: white;
}


.content42{
width: 20%;
height: 250px;
line-height: 2;
text-align: left;
border: 1px solid rgb(255, 0, 149);
          background-color: transparent;
          padding: 15px;
          color: white;
}


.content43{
width: 20%;
height: 250px;
line-height: 2;
text-align: left;
border: 1px solid rgb(255, 0, 149);
          background-color: transparent;
          padding: 15px;
          color: white;

}

.content41 span{
          font-weight: 600;
          font-style: italic;
          color: white;
}
.content42 span {
          font-weight: 600;
          font-style: italic;
          color: white;
}
.content43 span {
          font-weight: 600;
          font-style: italic;
          color: white;
}


.same
{
          display: flex;
          justify-content: space-evenly;
          
          align-items: flex-start;
}

.same img{
          border-radius: 50%;
}


/* ...............................................content5........................................ */

.content5{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: white;
          padding: 20px;
          margin-top: 70px;
          margin-bottom: 70px;
}

.content5 h2{
          font-size: 30px;
          color: black;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 800;

}


.content5 span{
font-size: 20px;
          color: black;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
          margin-bottom: 15px;
}


.content5 button{
          border: 1px solid cyan;
          background-color: cyan;
          padding: 6px 20px;
          border-radius: 10px;

}

.content5 a{
          text-decoration: none;
          color: white;
          font-size: 18px;
          font-weight: 700;
}


 /* .........................content6............................*/

.content6{

          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items:center ;
          gap: 30px;
          padding-bottom: 30px;

}
.content6 .logo{
          color: white;
          font-size: 25px;
}

.content6 .logopart{
          font-size: 25px;
}

.content61{
                    font-family: Arial, Helvetica, sans-serif;
          background-color:rgb(0, 255, 255,0.1);
          color: white;
          width: 100%;
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          display: flex;
          justify-content: center;
          gap: 30px;
          align-items: flex-start;
}

.content61 li{
          list-style: none;
          line-height: 2;
          font-size: 13px;
}
.last{
          color: #616161;
          font-size: 15px;
          font-weight: 700;
          font-family: Arial, Helvetica, sans-serif;
}





